blake2b-py>=0.2.0,<1
coloredlogs>=10.0
coincurve>=13.0.0
cytoolz>=0.12.0
asn1crypto>=0.22.0
configparser>=3.5.0
py_ecc>=5.0.0
eth-abi>=5.1.0
eth-hash<0.4.0,>=0.3.1
eth-utils>=2.0.0
hexbytes<0.3.0
jinja2>=2.9
MarkupSafe<2.1.0
mypy-extensions==1.0.0
numpy
persistent>=4.2.0
py-flags
py-evm==0.10.1b1
py-solc-x<2.0.0
py-solc
pyparsing<3,>=2.0.2
requests
rlp<4,>=3
semantic_version
z3-solver<=4.13.0.0,>=4.8.8.0
matplotlib
certifi>=2020.06.20
